/*  your css code here. If applicable */
body{
	background-color: rgb(135, 206, 235);
}
li{
	width: 50%;
	padding: 10px;
}
.box{
	font-size: 22px;
	background-color:white;
}
.gr{
	background-color:gray;
}
